ul,
ol {
  list-style-type: none;
}

/* Styles to the overall body */
.ds-body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}

/* Content styles */
 .ds-main{
  background-color: var(--clr-light);
  overflow: auto;
  margin-top: 60px; 
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: center; 
  align-items: center;
  overflow: hidden;
  
}
/* Adjust max-width based on your design */
.content{
  max-width: 800px; 
  width: 100%;
}

/* Top Navbar styles */
.ds-top-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: fixed;
  width: 100%;
  z-index: 1000;
}
.ds-top-navbar h1 {
  margin-right: auto; /* Push h1 to the left */
}
#nv-link {
  margin-right: 20px;
}
.ds-content-boader{
  border: 0.2rem solid var(--clr-accent);
  margin: 8px;
}
/* Side Navbar styles */
.ds-side-navbar {
  display: none;
  flex-direction: column;
  padding: 67px;
  position: fixed;
  top: 18px;
  bottom: 0;
  left: -56px;
  width: 237px;
  z-index: 1000;
  margin-top: -40px;
}

.ds-side-navbar a {
  text-decoration: none;
  margin-bottom: 5px;
  margin: 0px;
}


nav ul {
  display: block !important;
}

nav {

  text-align: left !important;
}

img{
  width: 50%;
}
/*===================.ds-toggle==========================*/
/* toggel side*/
.ds-toggle {
  float: right; 
  display: block;
  margin-left: 10px;
}
/* Hide the "X" symbol initially */
.ds-toggle  .fa-times {
  display: none;
}

/*Show the "X" symbol when the toggle button is active*/
.ds-toggle .active .fa-times {
  display: inline;
}

.show-icon {
  display: none !important;
}

/* Hide the "bars" icon when the toggle button is active */
.ds-toggle .active .fa-bars {
  display: none;
}

nav a {
  text-decoration:solid;
  color: var(--clr-primary-text);
}
nav ul {
  list-style-type: none;
  margin: 10px 0;
}
nav a:hover {
  color: var(--clr-accent); /* Change color on hover */
}

nav.top-nav {
  display: flex;
  justify-content: space-between;
}

/* Media Query for Larger Screens */
@media (min-width: 768px) {
  .ds-side-navbar {
    display: flex;
    
  }

  .ds-toggle  {
    display: none;
  }




  .show-icon {
    display: inline-block !important;
  }

  #ham-open, #close-icon {
    display: none !important;
  }

  div#top-nav-pages {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
#nv-link {
  display: flex !important; /* Display nv-link in one line on larger screens */
  margin-right: 20px;
}
}
/*-------------------------Breadcrums------------------------------------------------*/
.ds-breadcrumb {
  list-style: none;
  padding: 8px 15px;
  background: var(--clr-secondary-bg);
  border-radius: 5px;
  display: flex;
}

.ds-breadcrumb-item {
  font-size: var(--font-size-body);
  font-family: var(--body-font);
}

.ds-breadcrumb-item a {
  color: var(--clr-primary-text);
  text-decoration: none;
  padding: 0 10px;
}

.ds-breadcrumb-item + .ds-breadcrumb-item::before {
  content: ">";
  color: var(--clr-accent);
  padding: 0 10px;
}

.ds-breadcrumb-item.ds-active {
  color: var(--clr-accent);
  cursor: default;
}
/* Media Query for Smaller Screens */
@media (max-width: 768px) {
  .ds-side-navbar {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 550px;
    height: 100vh;
    background-color: var(--clr-light);
  }

  .ds-toggle {
    display: block;
    float: right;
  }

  /* Hide the close icon initially */
  .ds-toggle .fa-times {
    display: none;
  }

  /* Show the close icon when the toggle button is active */
  .ds-toggle.active .fa-times {
    display: inline;
  }

  /* Hide the hamburger icon when the toggle button is active */
  .ds-toggle.active .fa-bars {
    display: none;
  }
  main {
    margin-left: 0; /* Adjust the margin for smaller screens */
  }

  /*--------------------------------------------Logo--------------------------------*/
.ds-header-container {
  width: 90px;
}

/*-----------------------------hero section of index page----------------------------------------------*/

.ds-button {
  background-color: var(--clr-accent);
  color: var(--clr-primary-text);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.ds-main-hero__content {
  max-width: 100%;
  text-align: center;
  color: var(--clr-primary-bg)

 
}

.ds-main-hero__title {
  margin-bottom: 5px; 
}

.ds-main-hero__subtitle {
  margin-top: 5px; }

.ds-main-hero__image {
  display: none;
  
}


/*----------------------------------------Resources--------------------------------------------*/
.ds-main-resources__title {
  margin-top: 20px; 
}

.ds-carousel-buttons button {
  padding: 8px 16px; 
}

.ds-carousel-button-prev {
  left: 2%; 
}

.ds-carousel-button-next {
  right: 2%; 
}

.ds-carousel-container {
  padding: 0 10px; 
}

.ds-products img {
  height: auto; 
  width: 100%; 
  max-width: 100%; }

.ds-carousel-content {
  max-width: 100%; 
}
}

/* FAQ Section */
.main-faq{
  max-width: 800px; 
  margin: auto; 
  padding: 20px;
}
.ds-faq__item {
  margin-bottom: 16px;
  margin-right: -22px;
  margin-left: 2px;

}

.faq__question {
  cursor: pointer;
  font-weight: bold;
  color: var(--clr-primary-text); 
  margin-bottom: 10px; 
  transition: color 0.3s;
  position: relative; 
  margin-left: 5px;
}

.faq__question:not(:last-child):after {
  content: '';
  position: absolute;
  bottom: -5px; /* Adjust the vertical position */
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--clr-primary-text)
}

.faq__answer {
  display: none;
  margin-top: 10px;
  color: var(--clr-primary-text); 
  font-size: 14px; 
}

.faq__item.active .faq__answer {
  display: block;
}

.faq__icon {
  width: 20px;
  position: absolute; 
  top: 50%; 
  transform: translateY(-50%); 
  right: 10px;
  margin-left: 5px; 
}

.faq__question span {
  background-attachment: scroll !important;
}

/* Mobile View */

@media only screen and (max-width: 767px) {
  .ds-main-hero {
    background: url('images/hero_img.jpg') center/cover no-repeat;
      background-size: auto 100%; /* Adjust background size */
      background-position: center; /* Adjust background position */
    
  }

  .main-hero__content {
    padding: 20px;
  }

  .ds-text-container {
    display:inline-block;
    align-items: center;
  }

  .ds-main-hero__title {
    margin-bottom: 10px;
    font-size: 24px; /* Adjust font size as needed */
  }

  .ds-main-hero__subtitle {
    margin-top: 10px;
    font-size: 16px; /* Adjust font size as needed */
  }

  .ds-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px; /* Adjust font size as needed */
  }

  .mobile-wrapper-width {
    padding: 20px;
  }

  .ds-wrapper-width {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
  }