/* Color Variables - Grayscale */
:root {
    --clr-primary: #FFA06F;
    --clr-secondary: #016A70;
    --clr-accent: #76453B;
    --clr-light: #ECF79C; 
    --clr-white: white;
    /* Add more grayscale color variables as needed */
  }
  
/* Font Families */
  :root {
    --heading-font: 'Playfair Display', serif;
    --body-font: 'Lato', sans-serif;
  }
/* Utility classes for colors */

.bg-primary, .bg-primary-info{
  background-color: #FFA06F;
  color: #132626;
    }
  
  .text-primary, .text-primary-info{
    background-color: #132626;
  }
  
  .bg-secondary, .bg-secondary-info{
    background-color:#016A70;
  }
  
  .text-secondary, .text-secondary-info{
    background-color:#ECF79C;
    color: #000;
  }
  
  .accent-colour, .accent-colour-info{
    background-color:#76453B;
  }


  /* CSS Reset */
  html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }
  /* CSS Reset */
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  figure,
  picture {
    margin: 0;
  }
  
  /* Remove padding from lists */
  ul,
  ol,
  li {
    padding: 0;
  }
  